nav{
    background-color: lightskyblue;
    display: flex;
}
.leftside{
width: 50%;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 22pt;
}
ul li {
    display: inline;
}
.rightside{
width: 50%;
}
.logo{
    width: 80px;
    height: 80px;
}