html, body {
    height: 100%;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
    box-shadow: rgb(85, 85, 85) 0px 1px 8px 0px;
}

.leftside {
    display: flex;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 35px;
}

ul li {
    display: inline;
    margin-right: 20px; 
}

ul li a {
    text-decoration: none;
    color: rgb(233, 239, 255);
    font-size: 16pt;
    font-weight: 600;
    transition: 0.2s;
}

ul li a:hover {
    transform: scale(1.2);
    color: rgb(198, 214, 255);
}

.rightside {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.logo {
    width: 50px;
    height: 50px;
    padding-right: 20px;
}

main {
    flex: 1;
    margin: 10px;
    background-color: white;
}

footer {
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    padding: 10px 0;
    box-shadow: rgb(85, 85, 85) 0px 1px 8px 0px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.left-footer {
    font-size: 10pt;
}

.right-footer {
    cursor: pointer;
    font-size: 10pt;
}
