.bbh-sans-hegarty-regular {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-condensed-400{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: #9daaa2;
    color: #313131;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #ad6538;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    display: inline;
    margin-right: 25px; 
}

ul li a {
    text-decoration: none;
    color: #f5f1ed;
    font-size: 16pt;
    font-weight: 600;
    transition: 0.3s;
}

ul li a:hover {
    color: #e19e1e;
    transform: scale(1.15);
}

.rightside img.logo {
    width: 55px;
    height: 55px;
    border-radius: 10px;
}


main {
    flex: 1;
    margin: 20px;
    padding: 25px;
    background-color: #f5f1ed; /* #b89694 */
    color: #312f2f;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


footer {
    background-color: #718e88; 
    color: #fdfaf8;
    padding: 12px 0;
    box-shadow: 0 -1px 6px rgba(0,0,0,0.2);
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
}

.left-footer {
    font-size: 10pt;
}

.right-footer {
    cursor: pointer;
    font-size: 12pt;
    color: #e19e1e;
    transition: 0.2s;
}

.right-footer:hover {
    color: #b89694;
    transform: scale(1.3);
}
.logoText{
    font-weight: bold;
    font-size: 24pt;
    vertical-align: middle;
    margin-bottom: 0;
    color: white;
    padding-right: 32px;
    text-decoration: none;
}
.active{
    color: #f4dabf:
}