.mcdonaldscolor{ 
  background-color: #FFC72C;
}
.btn-warning{
  background-color: #FFC72C !important;
  box-shadow: 1px 1px 5px black;
}
.btn-warning:hover{
  background-color: #a6811c !important;
}
.btn-primary{
  box-shadow: 1px 1px 3px gray;
}
.card{
  max-width: 300px;
  left: 50%;
  transform: translate(-50%,0);
  margin-top: 75px;
  border-radius: 15px !important;
  box-shadow: 1px 1px 10px;
}
.card-img-top{
  border-radius: 15px !important;
}
.row{
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar{
  box-shadow: 1px 1px 5px;
  border-radius: 0 0 20px 20px;
  background-color: white;

}
.mcdonaldslogo{
  color: #FFC72C !important;
  font-weight: bolder !important;
  text-shadow: 1px 1px 2px rgb(49, 49, 49);
  font-size: 30px !important;
}
.cart{
  color: white !important;
  font-weight: bold !important;
  text-shadow: 1px 1px 2px black;
}

.price{
  text-decoration: italic;
  text-align: right;
}
.text-to-right{
  right: 0%
}
.custom{
  position: absolute;
  right: 10%;
  bottom: 5%;
  color: rgb(0, 0, 0);
  font-size: 25px;

}
.signature{
  color: rgba(0, 0, 0, 0.411);
  background-color: #FFC72C;
}
#cartAdd{
  position: fixed;
  z-index: 5;
  visibility: hidden;
  transition: opacity ease-in 0.25s;
  left: 50%;
  transform: translate(-50%,0);
  margin-top: 10px;

}
.linkedin{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.474);
}
.linkedin:hover{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.474);
}
.personalInfo{
  display: flex;
  flex-direction: row;
  background-color: white;
  z-index: 2; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.583);
  width: 1000px;
  height: 605px;
  padding: 25px;
}
.long-form{
  width: 100%; 
  margin-bottom: 10px;
}
.short-form{
  flex: 1;
  margin-bottom: 10px;

}
.form-select{
  border-color: rgb(206, 212, 218) !important;
  padding: 6px 12px;
  border-radius: 5px;
}
.formslogo{
  margin: auto;

}
.formrow{
  display: flex;
  direction: row; 
  gap: 20px;
  justify-content: space-between;
}
.modal{
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.formcolumn{
  justify-content: space-evenly;
}
.roww{
  display: flex;
}
#spinner1{
  display: none;
  margin-top: 3px;
  margin-left: 10px;
}
.summary{
  visibility: hidden;
  display: flex;
  flex-direction: row;
  background-color: white;
  z-index: 2; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.583);
  width: 1000px;
  height: 605px;
  padding: 25px;
}

.leftInfo1, 
.leftInfo2{
  flex: 1;
}
.rightInfo{
  flex: 1;
  background-color: rgb(231, 231, 231);
  box-shadow: 1px 1px 3px rgba(87, 87, 87, 0.394);
  border-radius: 10px;
  padding: 10px;

}
.normmtext{
  font-size: 20px; 
  font-weight: normal;
}
.biggertext{
  font-size: 25px;
}

.v-badge{
  font-size: 10px !important;
  vertical-align: text-top !important;
}

#orderFinish{
  position: fixed;
  z-index: 5;
  visibility: hidden;
  transition: opacity ease-in 0.25s;
  left: 50%;
  transform: translate(-50%,0);
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .personalInfo {
    flex-direction: row;
    height: 605px;
    width: 95%;
    padding: 15px;
  }
}

@media (max-width: 715px) {
  .personalInfo {
    flex-direction: column;
    align-items: center;
  }
  .formslogo {
    display: none;
  }
}

@media (max-width: 1000px) {
  .summary {
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 605px;
    padding: 15px;
  }
  .leftInfo1, .rightInfo {
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
  }
  .leftInfo2 {
    display: none;
  }
  .rightInfo {
    text-align: center;
  }
}
